###############################################
##
## Feature Flag Environment Variables
##
###############################################

# Options: true, false
NEW_WELCOME_MESSAGE=false

# Options: recursive, memo, loop, binet, default
FIB_ALGO=default

# Options: {000000-FFFFFF}
HEX_COLOR=000000

###############################################
##
## Feature Flag SDK keys
##
###############################################

# CloudBees App Key
CLOUDBEES_APP_KEY=

# Flagsmith Environment key
FLAGSMITH_ENV_KEY=

# Harness SDK Key
HARNESS_KEY=

# LaunchDarkly SDK Key
LD_KEY=

# Split IO server-side API key
SPLIT_KEY=

###############################################
##
## Remote Fibonacci Service
##
###############################################
FIB_SERVICE_USER=
FIB_SERVICE_PASS=