name: CI
on:
  push:
    branches:
      - 'main'
      - 'renovate/**'
  pull_request:
    branches:
      - 'main'

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # We need to fetch all branches and commits so that Nx affected has a base to compare against.
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v3
      - run: npm ci
      - run: npx nx workspace-lint
      - run: if ! npx nx format:check ; then echo "Format check failed. Please run 'npx nx format:write'."; fi
      - run: npx nx affected --target=lint --parallel=3
      - run: npx nx affected --target=test --parallel=3 --ci --code-coverage
